name: CI-TEST
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  ci-test:
    permissions:
      contents: read
      statuses: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast
      matrix:
        k8sVersion: ["1.28.x", "1.29.x", "1.30.x", "1.31.x", "1.32.x", "1.33.x", "1.34.x", "1.35.x"]
    env:
      K8S_VERSION: ${{ matrix.k8sVersion }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        disable-telemetry: true
        egress-policy: block
        allowed-endpoints: > # dl.k8s.io is for 1.25 CI only
          *.dl.k8s.io:443
          api.github.com:443
          dl.k8s.io:443
          coveralls.io:443
          github.com:443
          objects.githubusercontent.com:443
          release-assets.githubusercontent.com:443
          proxy.golang.org:443
          golang.org:443
          raw.githubusercontent.com:443
          storage.googleapis.com:443
          sum.golang.org:443
          go.dev:443
          dl.google.com:443
          aquasecurity.github.io:443
          mirror.gcr.io:443
          azure.archive.ubuntu.com:80
          packages.microsoft.com:443
          esm.ubuntu.com:443

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: ./.github/actions/install-deps
      with:
        k8sVersion: ${{ matrix.k8sVersion }}
    - run: K8S_VERSION=${{ matrix.k8sVersion }} make ci-test
    - name: Send coverage
      # should only send coverage once https://docs.coveralls.io/parallel-builds
      if: matrix.k8sVersion == '1.32.x'
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: goveralls -coverprofile=coverage.out -service=github
