name: CI-TEST
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  ci-test:
    permissions:
      contents: read
      statuses: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast 
      matrix:
        k8sVersion: ["1.25.x", "1.26.x", "1.27.x", "1.28.x", "1.29.x", "1.30.x", "1.31.x", "1.32.x", "1.33.x", "1.34.x"]
    env:
      K8S_VERSION: ${{ matrix.k8sVersion }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        disable-telemetry: true
        egress-policy: block
        allowed-endpoints: > # dl.k8s.io is for 1.25 CI only
          *.dl.k8s.io:443
          api.github.com:443
          dl.k8s.io:443
          coveralls.io:443
          github.com:443
          objects.githubusercontent.com:443
          release-assets.githubusercontent.com:443
          proxy.golang.org:443
          raw.githubusercontent.com:443
          storage.googleapis.com:443
          sum.golang.org:443
          aquasecurity.github.io:443
          mirror.gcr.io:443

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: ./.github/actions/install-deps
      with:
        k8sVersion: ${{ matrix.k8sVersion }}
    - name: Run tests with retry
      uses: nick-fields/retry@7152eba30c6575329ac0576536151aca5a72780e # v3.0.0
      with:
        timeout_minutes: 30
        max_attempts: 3
        command: K8S_VERSION=${{ matrix.k8sVersion }} make ci-test
    - name: Send coverage
      # should only send coverage once https://docs.coveralls.io/parallel-builds
      if: matrix.k8sVersion == '1.32.x'
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: goveralls -coverprofile=coverage.out -service=github
