name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        disable-telemetry: true
        egress-policy: block
        allowed-endpoints: > # dl.k8s.io is for 1.25 CI only
          *.dl.k8s.io:443
          api.github.com:443
          dl.k8s.io:443
          github.com:443
          objects.githubusercontent.com:443
          release-assets.githubusercontent.com:443
          golang.org:443
          *.golang.org:443
          raw.githubusercontent.com:443
          storage.googleapis.com:443
          go.dev:443
          dl.google.com:443
          vuln.go.dev:443
          aquasecurity.github.io:443
          mirror.gcr.io:443

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: ./.github/actions/install-deps
    - run: make ci-non-test
