name: CI
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        disable-telemetry: true
        egress-policy: block
        allowed-endpoints: > # dl.k8s.io is for 1.25 CI only
          *.dl.k8s.io:443
          api.github.com:443
          dl.k8s.io:443
          github.com:443
          objects.githubusercontent.com:443
          release-assets.githubusercontent.com:443
          proxy.golang.org:443
          golang.org:443
          raw.githubusercontent.com:443
          storage.googleapis.com:443
          sum.golang.org:443
          go.dev:443
          dl.google.com:443
          vuln.go.dev:443
          aquasecurity.github.io:443
          mirror.gcr.io:443
          archive.ubuntu.com:443
          security.ubuntu.com:443

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ./.github/actions/install-deps
    - run: make ci-non-test
