name: Deflake
on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

permissions:
  contents: read
jobs:
  deflake:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-telemetry: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            proxy.golang.org:443
            golang.org:443
            storage.googleapis.com:443
            sum.golang.org:443
            go.dev:443
            dl.google.com:443
            aquasecurity.github.io:443
            mirror.gcr.io:443
            archive.ubuntu.com:443
            security.ubuntu.com:443

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/install-deps
      - name: Running tests 5 times to find flaky tests
        id: run-deflake
        run: make deflake
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - if: always()
        name: Post commit status
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          SHA: ${{ github.sha }}
          OUTCOME: ${{ steps.run-deflake.outcome }}
          SERVER_URL: ${{ github.server_url }}
          RUN_ID: ${{ github.run_id }}
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $GH_TOKEN" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "https://api.github.com/repos/$REPOSITORY/statuses/$SHA" \
            -d '{"state":"'"$OUTCOME"'","target_url":"'"$SERVER_URL/$REPOSITORY/actions/runs/$RUN_ID"'","context":"Deflake Tests (cron)"}'
