name: E2EMatrix
on:
  workflow_call:
    inputs:
      git_ref:
        type: string
      location:
        type: string
        description: "the azure location to run the e2e test in"
        default: "eastus"
      provisionmode:
        type: string
        description: "the karpenter provisioning mode to run the e2e test in"
        default: "aksscriptless"
  #     k8s_version:
  #       type: string
  #       default: "1.27"
    secrets:
      E2E_CLIENT_ID:
        required: true
      E2E_TENANT_ID:
        required: true
      E2E_SUBSCRIPTION_ID:
        required: true
      E2E_LOGIN_SUBSCRIPTION_ID:
        required: true

permissions:
  contents: read

jobs:
  initialize-generative-params:
    runs-on: ubuntu-latest
    outputs:
      E2E_HASH: ${{ steps.generate-e2e-run-hash.outputs.E2E_HASH }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-telemetry: true
          disable-sudo: true
          egress-policy: block
          # no allowed endpoints
          allowed-endpoints: >

      - id: generate-e2e-run-hash
        run: |
          E2E_HASH="$RANDOM$RANDOM"
          echo "Using e2e hash \"$E2E_HASH\""
          echo "E2E_HASH=$E2E_HASH" >> "$GITHUB_OUTPUT"
  e2e:
    needs: [initialize-generative-params]
    strategy:
      fail-fast: false
      matrix:
        suite: [ACR, BYOK, Chaos, Consolidation, Drift, GPU, InPlaceUpdate, Integration, KubernetesUpgrade, NodeClaim, Scheduling, Spot, Subnet, Utilization]
    permissions:
      contents: read
      id-token: write
      statuses: write
    uses: ./.github/workflows/e2e.yaml
    with:
      git_ref: ${{ inputs.git_ref }}
      suite: ${{ matrix.suite }}
      hash: ${{ needs.initialize-generative-params.outputs.E2E_HASH }}
      location: ${{ inputs.location }}
      provisionmode: ${{ inputs.provisionmode || 'aksscriptless' }}
  #     k8s_version: ${{ inputs.k8s_version }}
    secrets:
      E2E_CLIENT_ID: ${{ secrets.E2E_CLIENT_ID }}
      E2E_TENANT_ID: ${{ secrets.E2E_TENANT_ID }}
      E2E_SUBSCRIPTION_ID: ${{ secrets.E2E_SUBSCRIPTION_ID }}
      E2E_LOGIN_SUBSCRIPTION_ID: ${{ secrets.E2E_LOGIN_SUBSCRIPTION_ID }}
