name: E2EMatrixTrigger
on:
  schedule:
    - cron: '0 11 * * *'
  workflow_dispatch:
    inputs:
      location:
        type: string
        description: "the azure location to run the e2e test in"
        default: "westus3"
      provisionmode:
        type: string
        description: "the karpenter provisioning mode to run the e2e test in"
        default: "aksscriptless"
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  resolve:
    if: github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success'
    uses: ./.github/workflows/resolve-args.yaml
  e2e-matrix:
    permissions:
      contents: read
      id-token: write # This is required for requesting the JWT
      statuses: write # ./.github/actions/commit-status/*
    needs: [resolve]
    uses: ./.github/workflows/e2e-matrix.yaml
    with:
      git_ref: ${{ needs.resolve.outputs.GIT_REF }}
      location: ${{ inputs.location || 'westus3' }}
      provisionmode: ${{ inputs.provisionmode || 'aksscriptless' }}
    secrets:
      E2E_CLIENT_ID: ${{ secrets.E2E_CLIENT_ID }}
      E2E_TENANT_ID: ${{ secrets.E2E_TENANT_ID }}
      E2E_LOGIN_SUBSCRIPTION_ID: ${{ secrets.E2E_SUBSCRIPTION_ID }}
      E2E_SUBSCRIPTION_ID: ${{ secrets.E2E_STAGING_SUBSCRIPTION_ID }}
