name: E2EMatrixTrigger
on:
  schedule:
    - cron: '0 11 * * *'
  workflow_dispatch:
    inputs:
      location:
        type: string
        description: "the azure location to run the e2e test in"
        default: "westus3"
      provisionmode:
        type: string
        description: "the karpenter provisioning mode to run the e2e test in"
        default: "aksscriptless"
      k8s_version:
        type: choice
        description: "Kubernetes version ('default' = AKS default)"
        options:
          - "default"
          - "1.28"
          - "1.29"
          - "1.30"
          - "1.31"
          - "1.32"
          - "1.33"
          - "1.34"
          - "1.35"
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  resolve:
    if: (github.repository == 'Azure/karpenter-provider-azure' && (github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success')) || github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/resolve-args.yaml
  e2e-matrix:
    permissions:
      contents: read
      id-token: write # This is required for requesting the JWT
      statuses: write # ./.github/actions/commit-status/*
    needs: [resolve]
    uses: ./.github/workflows/e2e-matrix.yaml
    with:
      git_ref: ${{ needs.resolve.outputs.GIT_REF }}
      location: ${{ inputs.location || 'westus3' }}
      provisionmode: ${{ inputs.provisionmode || 'aksscriptless' }}
      k8s_version: ${{ inputs.k8s_version }}
    secrets:
      E2E_CLIENT_ID: ${{ secrets.E2E_CLIENT_ID }}
      E2E_TENANT_ID: ${{ secrets.E2E_TENANT_ID }}
      E2E_SUBSCRIPTION_ID: ${{ secrets.E2E_SUBSCRIPTION_ID }}
