name: E2EMatrixTrigger
on:
  workflow_dispatch:
  push:
    branches: [main]
  workflow_run:
    workflows: [ApprovalComment]
    types: [completed]
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout
  statuses: write # ./.github/actions/commit-status/*
jobs:
  resolve:
    if: github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success'
    uses: ./.github/workflows/resolve-args.yaml
  e2e-matrix:
    needs: [resolve]
    uses: ./.github/workflows/e2e-matrix.yaml
    with:
      git_ref: ${{ needs.resolve.outputs.GIT_REF }}
    secrets:
      E2E_CLIENT_ID: ${{ secrets.E2E_CLIENT_ID }}
      E2E_TENANT_ID: ${{ secrets.E2E_TENANT_ID }}
      E2E_SUBSCRIPTION_ID: ${{ secrets.E2E_SUBSCRIPTION_ID }}