name: E2E
on:
  workflow_call:
    inputs:
      git_ref:
        type: string
      suite:
        type: string
        required: true
      hash:
        type: string
        required: true
      location:
        type: string
        description: "the azure location to run the e2e test in"
        default: "southcentralus"
    #   k8s_version:
    #     type: string
    #     default: "1.27"
    secrets:
      E2E_CLIENT_ID:
        required: true
      E2E_TENANT_ID:
        required: true
      E2E_SUBSCRIPTION_ID:
        required: true

permissions:
  contents: read

env:
  ACR_NAME:
  RG_NAME:
  CLUSTER_NAME:

jobs:
  run-suite:
    name: suite-${{ inputs.suite }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # This is required for requesting the JWT
      statuses: write # ./.github/actions/commit-status/*
    env:
      AZURE_SUBSCRIPTION_ID: ${{ secrets.E2E_SUBSCRIPTION_ID }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-telemetry: true
          egress-policy: block
          # - wildcards to allow for variation in targeted clusters
          # - clients3.google.com:80 and firebaselogging-pa.googleapis.com:443 - confirmed Skaffold,
          #   likely telemetry, likely can be avoided/blocked with/after "skaffold config set --global collect-metrics false"
          allowed-endpoints: >
            *.azmk8s.io:443
            *.azurecr.io:443
            *.data.mcr.microsoft.com:443
            *.vault.azure.net:443
            aka.ms:443
            api.github.com:443
            app.aladdin.microsoft.com:443
            auth.docker.io:443
            azcliextensionsync.blob.core.windows.net:443
            clients3.google.com:80
            dc.services.visualstudio.com:443
            distroless.dev:443
            firebaselogging-pa.googleapis.com:443
            gist.githubusercontent.com:443
            github.com:443
            graph.microsoft.com:443
            index.docker.io:443
            login.microsoftonline.com:443
            management.azure.com:443
            mcr.microsoft.com:443
            objects.githubusercontent.com:443
            release-assets.githubusercontent.com:443
            proxy.golang.org:443
            raw.githubusercontent.com:443
            storage.googleapis.com:443
            sum.golang.org:443
            aquasecurity.github.io:443
            mirror.gcr.io:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ inputs.git_ref }}
      - if: always() && github.event_name == 'workflow_run'
        uses: ./.github/actions/commit-status/start
        with:
          name: ${{ github.workflow }} / e2e (${{ inputs.suite }})
          git_ref: ${{ inputs.git_ref }}
      - uses: ./.github/actions/install-deps
      - name: az login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.E2E_CLIENT_ID }}
          tenant-id: ${{ secrets.E2E_TENANT_ID }}
          subscription-id: ${{ secrets.E2E_SUBSCRIPTION_ID }}
      - name: az set sub
        shell: bash
        run: az account set --subscription ${{ secrets.E2E_SUBSCRIPTION_ID }}
      - name: install skaffold
        run: |
          curl -Lo skaffold https://github.com/GoogleContainerTools/skaffold/releases/download/v2.14.2/skaffold-linux-amd64 --fail
          install skaffold /usr/local/bin/
      - name: generate rg name
        run: |
          RG_NAME=$(echo karpenter-e2e-${{ inputs.suite }}-${{ inputs.hash }} | awk '{print tolower($0)}')
          echo "Using resource group name \"$RG_NAME\""
          echo "RG_NAME=$RG_NAME" >> "$GITHUB_ENV"
      - name: generate acr name
        run: |
          ACR_NAME=$(echo ${{ inputs.suite }}acr${{ inputs.hash }} | awk '{print tolower($0)}')
          echo "Using acr name \"$ACR_NAME\""
          echo "ACR_NAME=$ACR_NAME" >> "$GITHUB_ENV"
      - name: create acr '${{ env.ACR_NAME }}'
        uses: ./.github/actions/e2e/create-acr
        with:
          client-id: ${{ secrets.E2E_CLIENT_ID }}
          tenant-id: ${{ secrets.E2E_TENANT_ID }}
          subscription-id: ${{ secrets.E2E_SUBSCRIPTION_ID }}
          resource_group: ${{ env.RG_NAME }}
          acr_name: ${{ env.ACR_NAME }}
          git_ref: ${{ inputs.git_ref }}
          location: ${{ inputs.location }}
      - name: add jitter on cluster creation
        run: |
          # Creating jitter so that we can stagger cluster creation to avoid throttling
          sleep $(( RANDOM % 60 + 1 ))
      - name: generate cluster name
        run: |
          CLUSTER_NAME=mc
          echo "Using cluster name \"$CLUSTER_NAME\""
          echo "CLUSTER_NAME=$CLUSTER_NAME" >> "$GITHUB_ENV"
      - name: create aks cluster '${{ env.CLUSTER_NAME }}'
        uses: ./.github/actions/e2e/create-cluster
        with:
          client-id: ${{ secrets.E2E_CLIENT_ID }}
          tenant-id: ${{ secrets.E2E_TENANT_ID }}
          subscription-id: ${{ secrets.E2E_SUBSCRIPTION_ID }}
          resource_group: ${{ env.RG_NAME }}
          cluster_name: ${{ env.CLUSTER_NAME }}
          acr_name: ${{ env.ACR_NAME }}
          git_ref: ${{ inputs.git_ref }}
          location: ${{ inputs.location }}
      - name: build and publish karpenter
        shell: bash
        run: AZURE_ACR_NAME=${{ env.ACR_NAME }} make az-build
      - name: install karpenter
        uses: ./.github/actions/e2e/install-karpenter
        with:
          client-id: ${{ secrets.E2E_CLIENT_ID }}
          tenant-id: ${{ secrets.E2E_TENANT_ID }}
          subscription-id: ${{ secrets.E2E_SUBSCRIPTION_ID }}
          resource_group: ${{ env.RG_NAME }}
          cluster_name: ${{ env.CLUSTER_NAME }}
          acr_name: ${{ env.ACR_NAME }}
          git_ref: ${{ inputs.git_ref }}
          location: ${{ inputs.location }}
      - name: run the ${{ inputs.suite }} test suite
        env:
          AZURE_CLUSTER_NAME: ${{ env.CLUSTER_NAME }}
          AZURE_RESOURCE_GROUP: ${{ env.RG_NAME }}
          AZURE_LOCATION: ${{ inputs.location }}
          AZURE_SUBSCRIPTION_ID: ${{ secrets.E2E_SUBSCRIPTION_ID }}
          AZURE_ACR_NAME: ${{ env.ACR_NAME }}
          TEST_SUITE: ${{ inputs.suite }}
          GIT_REF: ${{ github.sha }}
        run: |
          make az-creds
          make e2etests
      - name: dump logs on failure
        uses: ./.github/actions/e2e/dump-logs
        if: failure() || cancelled()
        with:
          client-id: ${{ secrets.E2E_CLIENT_ID }}
          tenant-id: ${{ secrets.E2E_TENANT_ID }}
          subscription-id: ${{ secrets.E2E_SUBSCRIPTION_ID }}
          resource_group: ${{ env.RG_NAME }}
          cluster_name: ${{ env.CLUSTER_NAME }}
          git_ref: ${{ inputs.git_ref }}
      - name: cleanup resources
        uses: ./.github/actions/e2e/cleanup
        if: always()
        with:
          client-id: ${{ secrets.E2E_CLIENT_ID }}
          tenant-id: ${{ secrets.E2E_TENANT_ID }}
          subscription-id: ${{ secrets.E2E_SUBSCRIPTION_ID }}
          resource_group: ${{ env.RG_NAME }}
          cluster_name: ${{ env.CLUSTER_NAME }}
          acr_name: ${{ env.ACR_NAME }}
          git_ref: ${{ inputs.git_ref }}
      - if: always() && github.event_name == 'workflow_run'
        uses: ./.github/actions/commit-status/end
        with:
          name: ${{ github.workflow }} / e2e (${{ inputs.suite }})
          git_ref: ${{ inputs.git_ref }}
