# This Github action is the release trigger for Azure/karpenter-provider-azure
# It will auto-generate the next semantic release version and tag the git ref

name: Release Trigger
on:
    workflow_dispatch:

permissions:
  contents: read

jobs:
  generate-sem-ver:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-telemetry: true
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            registry.npmjs.org:443

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '20.x' # semantic-release requires Node version 20.8.1 or higher
      - name: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install conventional-changelog-conventionalcommits -D
          # Using the current latest major version of semantic-release v24, to
          # prevent automated breaking changes, but still pickup features and patches ASAP.
          # Will need to adopt new major versions as they are released.
          npx semantic-release@24
