# This Github action is the release trigger for Azure/karpenter-provider-azure
# It will auto-generate the next semantic release version and tag the git ref

name: Release Trigger
on:
    workflow_dispatch:

permissions:
  contents: read

jobs:
  generate-sem-ver:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          disable-telemetry: true
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            registry.npmjs.org:443

      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          fetch-depth: 0
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
        with:
          node-version: '20.x' # semantic-release requires Node version 20.8.1 or higher
      - name: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install conventional-changelog-conventionalcommits -D
          # Using the current latest major version of semantic-release v24, to
          # prevent automated breaking changes, but still pickup features and patches ASAP.
          # Will need to adopt new major versions as they are released.
          npx semantic-release@24
