# This Github action is the release trigger for Azure/karpenter-provider-azure
# It will auto-generate the next semantic release version and tag the git ref

name: Release Trigger
on:
    workflow_dispatch:

permissions:
  contents: read

jobs:
  generate-sem-ver:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          disable-telemetry: true
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            registry.npmjs.org:443

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20.x' # semantic-release requires Node version 20.8.1 or higher
      - name: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm install conventional-changelog-conventionalcommits -D
          # Using the current latest major version of semantic-release v24, to
          # prevent automated breaking changes, but still pickup features and patches ASAP.
          # Will need to adopt new major versions as they are released.
          npx semantic-release@24
