name: ResolveArgs
on:
  workflow_call:
    outputs:
      GIT_REF:
        value: ${{ jobs.resolve.outputs.GIT_REF }}

permissions:
  contents: read

jobs:
  resolve:
    runs-on: ubuntu-latest
    outputs:
      GIT_REF: ${{ steps.resolve-step.outputs.GIT_REF }}
    steps:
      # Download the artifact and resolve the GIT_REF
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          disable-telemetry: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - if: github.event_name == 'workflow_run'
        uses: ./.github/actions/download-artifact
      - id: resolve-step
        env:
          EVENT_NAME: ${{ github.event_name }}
          SHA: ${{ github.sha }}
        run: |
          if [[ "$EVENT_NAME" == "workflow_run" ]]; then
            echo GIT_REF="$(tail -n 1 /tmp/artifacts/metadata.txt)" >> "$GITHUB_OUTPUT"
          elif [[ "$EVENT_NAME" == "workflow_dispatch" ]]; then
            echo GIT_REF="$SHA" >> "$GITHUB_OUTPUT"
          else
            echo GIT_REF="" >> "$GITHUB_OUTPUT"
          fi
